<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metrics server</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <p>
      <h1>Metrics catalog</h1>
        <a href="/metrics/memory" target="_blank">Memory metrics</a>
        <br>
        <a href="/metrics/disk" target="_blank">Disk metrics</a>
        <br>
        <a href="/metrics/kernel" target="_blank">Kernel metrics</a>
        <br>
        <a href="/metrics/platform" target="_blank">Platform metrics</a>
        <br>
        <a href="/metrics/cpu" target="_blank">CPU metrics</a>
        <br>
        <a href="/metrics/system_uptime" target="_blank">System uptime metrics</a>
    </p>
  </body>
</html>
